---
import Section from '~/components/common/section'
import Project from './projects'
import { LinkButton } from '~/components/common/button'
import { getCollection } from 'astro:content'
import { Picture } from 'astro:assets'

const projects = await getCollection(
  'projects',
  (project) => project.data.featured
)

const title = 'Featured Projects'
---

<Section
  className='grid grid-cols-1 gap-x-4 gap-y-8 pt-8 sm:grid-cols-2 sm:pt-16 md:grid-cols-3'
>
  <h2
    class='text-center text-2xl font-bold sm:col-span-2 sm:text-4xl md:col-span-3'
  >
    {title}
  </h2>
  {
    projects.map((project) => (
      <Project project={project}>
        <Picture
          src={project.data.image!}
          alt=''
          layout='responsive'
          formats={['avif', 'webp']}
        />
      </Project>
    ))
  }

  <div class='flex h-max justify-center sm:col-span-2 md:col-span-3'>
    <LinkButton href='/projects'>Projects</LinkButton>
  </div>
</Section>
