---
import Section from '../common/section'
import ProjectsComponent from './projects'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
---

<Section className='overflow-x-scroll pt-4'>
  <ProjectsComponent projects={projects} client:load />
</Section>
