---
import BioComponent from './bio'
import AboutComponent from './about'
import { Picture } from 'astro:assets'
import { getEntry } from 'astro:content'
import { marked } from 'marked'

const bio = await getEntry('bio', 'bio')
const about = await getEntry('about', 'README.md')
const aboutText = await marked.parse(about?.data.text!)
---

<section
  class='mx-auto grid min-h-[calc(100svh-64px)] max-w-screen-lg grid-cols-1 gap-4 py-8 *:rounded-xl *:border *:border-white *:bg-white/30 *:p-4 *:shadow-sm *:backdrop-blur-md sm:grid-cols-3 sm:py-24'
>
  <BioComponent bio={bio!}>
    <Picture
      class='rounded-full'
      src={bio?.data.image!}
      alt=''
      layout='fixed'
      width={100}
      height={100}
      priority={true}
    />
  </BioComponent>
  <AboutComponent text={aboutText} />
</section>
