---
import Layout from '~/layouts/layout.astro'
import Main from '~/components/core/main.astro'
import About from '~/components/home/about/about.astro'
import Projects from '~/components/home/projects/projects.astro'
---

<Layout>
  <Main class='flex flex-col items-center justify-center pb-16'>
    <About />
    <Projects server:defer />
  </Main>
</Layout>
