---
import { Picture } from 'astro:assets'

const BADGE_SRC = 'https://astro.badg.es/v2/built-with-astro/tiny.svg'
---

<a href='/astro' target='_blank' rel='noreferrer'>
  <Picture
    src={BADGE_SRC}
    alt='Built with Astro'
    width='120'
    height='20'
    layout='fixed'
    formats={['avif', 'webp']}
    fit='contain'
  />
</a>
