@import 'tailwindcss';
@import '@fontsource-variable/geist';

@theme {
  /* fonts */
  --font-sans:
    'Geist Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  /* colors */
  --color-theme-primary: oklch(49.6% 0.093 241.15);
  --color-theme-secondary: oklch(93.2% 0.073 201.3);
  --color-theme-background: oklch(95.4% 0.008 253.85);
  --color-theme-text: oklch(21.2% 0.008 248.18);
}
