---
interface Props {
    title?: string | undefined
    description?: string | undefined
}
---

{/* mandatories */}
<title></title>
<meta name="description" content="">
<link rel="canonical" href={Astro.url}>

{/* icons */}
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />